<section class="pt-8 pt-md-11 bg-gradient-light-white">
      <div class="container">
        <div class="row align-items-center justify-content-between mb-8 mb-md-11">
          <div class="col-12 col-md-6 order-md-2 aos-init aos-animate" data-aos="fade-left">

            <!-- Heading -->
            <h2>
              Book now <br>
              <span class="text-success">and boost your career <span data-typed="{&quot;strings&quot;: [&quot;developers.&quot;, &quot;founders.&quot;, &quot;designers.&quot;]}"></span><span class="typed-cursor" aria-hidden="true"></span></span>
            </h2>

            <!-- Text -->
            <p class="fs-lg text-body-secondary mb-6">
            Pick and event and join the experts
            </p>

            <!-- List -->
            <div class="row">
              <div class="col-12 col-lg-6">

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle text-bg-success-subtle mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p class="text-success">
                    Lifetime updates
                  </p>

                </div>

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle text-bg-success-subtle mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <p class="text-success mb-lg-0">
                    Tons of assets
                  </p>

                </div>

              </div>
              <div class="col-12 col-lg-6 mb-6 mb-md-0">

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <span class="badge badge-rounded-circle text-bg-success-subtle mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </span>

                  <!-- Text -->
                  <p class="text-success">
                    Choose an event
                  </p>

                </div>

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle text-bg-success-subtle me-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p class="text-success mb-0">
                    Want to participate ?
                  </p>

                </div>

              </div>
            </div> <!-- / .row -->

          </div>
          <div class="col-12 col-md-6 col-lg-5 order-md-1 aos-init aos-animate" data-aos="fade-right">

            <!-- Card -->
            <div class="card shadow-light-lg lift lift-lg">

              <!-- Image -->
              <img src="assets/img/photos/photo-2.jpg" alt="..." class="card-img-top">

              <!-- Shape -->
              <div class="position-relative">
                <div class="shape shape-bottom shape-fluid-x text-white">
                  <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>                </div>
              </div>

              <!-- Body -->
              <div class="card-body">

                <!-- Form -->
                <form>
                  <div class="form-floating">
                    <input type="text" class="form-control form-control-flush" id="cardName" placeholder="Name">
                    <label for="cardName">Name</label>
                  </div>
                  <div class="form-floating">
                    <input type="email" class="form-control form-control-flush" id="cardEmail" placeholder="Email">
                    <label for="cardEmail">Email</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control form-control-flush" id="cardPassword" placeholder="Password">
                    <label for="cardPassword">Password</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control form-control-flush" id="cardPassword" placeholder="Password">
                    <label for="cardPassword">Create account</label>
                  </div>
                  <div class="mt-6">
                    <button class="btn w-100 btn-success lift" type="submit">
                      Book now !
                    </button>
                  </div>
                </form>

              </div>

            </div>

          </div>
        </div> <!-- / .row -->
        <div class="row align-items-center">
          <div class="col-12 col-md-7 col-lg-6 aos-init aos-animate" data-aos="fade-right">

     